<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('https://images.unsplash.com/photo-1451153378752-16ef2b36ad05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80');
    height: 50vh;
    background-size: cover;
    background-position: center
  "
></div>
<!-- Background image -->
<div class="container mt-0">
<div class="row">
  <div class="col-8"></div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Check this out</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
      </div>
    </div>
  <div class="col-4"></div>
  </div>
</div>














<h2><%= @flat.name %></h2>
<p><%= @flat.address %></p>
<h3>A bit more about this flat</h3>
<p><%= @flat.description %></p>
<p>$<%= @flat.price_per_night %></p>
<p><%= @flat.number_of_guests %></p>

<%= link_to "Edit flat", edit_flat_path(@flat) %>
